# Виртуальное окружение
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.tox/
.mypy_cache/

# Логи и отчеты
*.log
allure-results/
allure-report/
htmlcov/

# Секреты и локальные настройки
.env

# Драйверы и бинарные файлы
*.exe
*.msi
*.dmg
chromedriver
geckodriver

# ОС
.DS_Store
Thumbs.db
desktop.ini
